body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 20px; /* Размер основного шрифта в <p></p>  */
    background-color: #f0f0f0; /* Цвет фона веб-страницы */
    color: #1d2cda; /* Цвет основного текста */ 
}
h1 {
    color: #00a800; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}



img {
    width:20%
}